/*@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');*/

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
main{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  img {
    user-select: none;
  }
}
