.custom-accordion{
    background: radial-gradient(50% 50% at 50% 50%, #3D254F 0%, #261436 99.99%);
    border-radius: 15px;
    h4{
        margin: 0;
    }
}

.custom-accordion span{
    background: linear-gradient(180deg, #9D73DC 0%, #AA78FF 100%);
    filter: drop-shadow(0 0 2em #646cffaa);
    font-family: "Aldrich", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-accordion-head{
    display: flex;
    position: relative;
    padding: 15px 25px;
    user-select: none;
    cursor: pointer;
}

.custom-accordion-head::after{
    display: flex;
    font-weight: 700;
    font-size: 24px;
}

.custom-accordion-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease-out;
}

.inner-wrap{
    overflow: hidden;
    /*margin-bottom: 15px;*/
}

.custom-accordion-body.open{
    grid-template-rows: 1fr;
}