.ukraine-map{
    transition: all .3s linear;
    max-width: 680px;
    position: relative;
    width: 100%;
}

path:not(.outline){
    fill: url(#clear);
    transform-origin: center;
    transform-box: fill-box;
    transition: all .3s linear;
    stroke: rgba(246, 218, 218, 0.82);
    stroke-width: 5px;
    opacity: .85;
}

path:not(.outline):hover{
    opacity: 1;
    stroke: #fff
}

path.alarm{
    fill: url(#alarm);
}